@page
@model ModernVedur.Pages.WeatherModel
@{
    ViewData["Title"] = "Weather";
}

<h2>Weather Observation</h2>

<form method="get">
    <div class="input-group mb-3">
        <input type="text" class="form-control" name="StationId" value="@Model.StationId" placeholder="Enter Station ID" aria-label="StationId" />
        <button type="submit" class="btn btn-primary">Leita</button>
    </div>
</form>

@if (Model.Observation != null)
{
    <div class="container text-center">
        <div class="row">
            <div class="col">

                <table class="table">
                    <tr>
                        <th>Stöðvarnafn</th>
                        <td><a href="@Model.Observation.Link">@Model.Observation.Name</a></td>
                    </tr>
                    <tr>
                        <th>Tími</th>
                        <td>@Model.Observation.Time.ToString("g")</td>
                    </tr>
                    <tr>
                        <th>Hitastig</th>
                        <td>@Model.Observation.T °</td>
                    </tr>
                    <tr>
                        <th>Vindhraði</th>
                        <td>@Model.Observation.F m/s</td>
                    </tr>
                    <tr>
                        <th>Vindátt</th>
                        <td>@Model.Observation.D</td>
                    </tr>
                    <tr>
                        <th>Úrkoma</th>
                        <td>@Model.Observation.R</td>
                    </tr>
                </table>
                <button type="button" onclick="document.getElementById('MapColumn').style.display = ''" class="btn btn-primary">Sjá kort</button>
            </div>
            <div class="col" id="MapColumn"style="display: none">
                <script type="text/javascript" src="http://vedur.is/js/iframe.js"></script>
                <script type="text/javascript">
                    <!--
                    VI.ifrm.type = 'wst';
                    VI.ifrm.area = @Model.Observation.StationId;
                    VI.ifrm.lang = 'is';
                    VI.ifrm.displayWeather();
                </script>
            </div>
        </div>
    </div>



}
else if (Model.StationId > 0)
{
    <p>No data available for station ID @Model.StationId.</p>
}
