@page
@model ModernVedur.Pages.WeatherModel
@{
    ViewData["Title"] = "Weather";
}

<h2>Veðrið í dag</h2>

<form method="get">
    <div class="input-group mb-3">
        <input class="form-control" list="stations" name="StationName" id="StationName" placeholder="Leitaðu hér og veldu veðurstöð" onchange="this.form.submit()" value="@Model.SelectedStationName">
        <datalist id="stations">
            @foreach (var station in Model.Stations)
            {
                <option value="@station.Name"></option>
            }
        </datalist>
        <button type="submit" class="btn btn-primary">Sækja veður</button>
    </div>
</form>


@if (Model.Observation != null)
{
    <div class="container text-center">
        <div class="transition-container">
            <div class="weather-column" id="WeatherColumn">
                <table class="table">
                    <tr>
                        <th>Stöðvarnafn</th>
                        <td><a href="@Model.Observation.Link">@Model.Observation.Name</a></td>
                    </tr>
                    <tr>
                        <th>Tími</th>
                        <td>@Model.Observation.Time.ToString("g")</td>
                    </tr>
                    <tr>
                        <th>Hitastig</th>
                        <td>@Model.Observation.T °</td>
                    </tr>
                    <tr>
                        <th>Vindhraði</th>
                        <td>@Model.Observation.F m/s</td>
                    </tr>
                    <tr>
                        <th>Vindátt</th>
                        <td>@Model.Observation.D</td>
                    </tr>
                    <tr>
                        <th>Úrkoma</th>
                        <td>@Model.Observation.R</td>
                    </tr>
                </table>

                <button type="button" onclick="showMap()" id="ShowButton" class="btn btn-primary">Sjá kort</button>
                <button type="button" onclick="hideMap()" id="HideButton" class="btn btn-info" style="display: none;">Fela kort</button>
            </div>

            <div class="map-column" id="MapColumn">
                <script type="text/javascript" src="\js\iframe.js"></script>
                <script type="text/javascript">
                    VI.ifrm.type = 'wst';
                    VI.ifrm.area = @Model.Observation.StationId;
                    VI.ifrm.lang = 'is';
                    VI.ifrm.displayWeather();
                </script>
            </div>
        </div>
    </div>
}
else if (Model.StationId > 0)
{
    <p>Veðurstöð fannst ekki.</p>
}
